@using HotelProject.WebUI.Dtos.StaffDto
@model UpdateStaffDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input hidden type="text" name="StaffId" class="form-control" value="@Model.StaffId" />
    <br />

    <label>personel adı</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />
    <br />

    <label>Ünvan</label>
    <input type="text" name="Title" class="form-control" value="@Model.Title" />
    <br />

    <label>Sosyal medya1</label>
    <input type="text" name="SocialMedia1" class="form-control" value="@Model.SocialMedia1" />
    <br />

    <label>Sosyal Medya2 </label>
    <input type="text" name="SocialMedia2" class="form-control" value="@Model.SocialMedia2" />
    <br />

    <label>Sosyal Medya3</label>
    <input type="text" name="SocialMedia3" class="form-control" value="@Model.SocialMedia3" />
    <br />

    <button type="submit" class="btn btn-primary">personel Güncelle</button>
</form>
